# This is the beginning of Pandas Course

### Pandas is a powerfull python library widely used for data visulaization and analysis

Below is the Series Data Structure of pandas

In [ ]:
import pandas as pd

In [ ]:
data = pd.Series(['Laptop', 'Mouse','Keyboard'], index=[1,2,3])

In [7]:
print(data)

1      Laptop
2       Mouse
3    Keyboard
dtype: object

Now we move toward another data structure, i.e. DataFrame

In [4]:
df = {
    'Name':['Alice', 'Bob', 'Charlie'],
    'Marks':[23,34,45]
}

In [5]:
df=pd.DataFrame(df)

In [6]:
print(df)

      Name  Marks
0    Alice     23
1      Bob     34
2  Charlie     45